
<hr>	
<%= link_to_function "返回", "history.back()" ,:class => "btn btn-info"%>

<div class="row">
	<div class="span4 ">
		<form class="well">
			<fieldset>
				<legend><%= @article.title %></legend>
				<label><%= @article.content %></label>

			</fieldset>
		</form>
	</div>
</div>

   

<script>

</script>

